<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Soil Time</title>
</head>

<body>
    <section id="page">
        <header>SoilTime
            <button id="submit">Let's Grow!</button>
            <input id="city-search" type="text" name="city-search" placeholder="Search for a city:">
            <svg class="hidden-svg" id="vines" version="1.1" viewBox="0.0 0.0 960.0 100.0" fill="none" stroke="none"
                stroke-linecap="square" stroke-miterlimit="10" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg">
                <clipPath id="p.0">
                    <path d="m0 0l960.0 0l0 720.0l-960.0 0l0 -720.0z" clip-rule="nonzero" />
                </clipPath>
                <g clip-path="url(#p.0)">
                    <path class="path" stroke="#6aa84f" stroke-width="3.0" stroke-linejoin="round" stroke-linecap="butt"
                        d="m960.3695 2.215223c-19.235046 28.852562 -59.406128 54.93259 -93.04724 46.522312c-22.612488 -5.653126 -59.360962 -25.278135 -69.78479 -4.4304466c-2.579712 5.159397 7.9386597 13.222374 13.293945 11.078739c6.1032715 -2.4430275 13.065063 -6.0825195 15.506592 -12.186352c3.130066 -7.825203 -13.778442 -13.114443 -22.154846 -12.183725c-31.18158 3.464613 -53.74707 34.48269 -84.18378 42.091866c-17.290222 4.3225555 -34.480286 15.112579 -52.060364 12.183723c-17.783142 -2.9626846 -39.35852 -13.67807 -44.309692 -31.013123c-4.5858154 -16.05589 12.426819 -37.712135 28.800537 -40.986874c13.910095 -2.7820215 19.468933 23.14479 33.230957 26.5853c10.244873 2.561222 18.010498 -11.362213 25.477722 -18.829395"
                        fill-rule="evenodd" />
                </g>
            </svg>
        </header>
        <sidebar>Previous Searches</sidebar>
        <main>Main area (Map, Soil Info, Plant Pic/Info)</main>
    </section>

    <script src="../../public/assets/js/script.js"></script>
</body>

</html>