<div id="row1">
    <div id="map"></div>
    <div class="flip-card" id="soil">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                Soil Information
            </div>
            <div class="flip-card-back">
                <h1 id="soil_name">Soil Name</h1>
                <p id="soil_type">Soil Type</p>
            </div>
        </div>
    </div>
</div>
<div id="row2">
    <div class="flip-card" id="plant-pic">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                Main Plant Picture
            </div>
            <div class="flip-card-back">
                Plant Picture
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="flip-card" id="plant-info">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                Plant Information
            </div>
            <div class="flip-card-back">

                <h1 id="plant"></h1>
                <p id="soiltype"></p>
                <p id="biome"></p>
                <p id="ecosystem"></p>

            </div>
        </div>
    </div>
</div>