<div id="row1">
    <div id="map"></div>
    <div id="soil">Soil Information:</div>
</div>
<div id="row2">
    <div id="plant-pic">Plant Picture</div>
    <div id="plant-info">Plant Information</div>
</div>