#page {
  overflow:hidden;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "head head"
                         "sidebar  main";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 250px 1fr;

    background-image: url("./videoblocks-close-up-of-young-plant-growing-from-soil-background-low-angle-view_hje3yc6dkg_thumbnail-full01.png");
  }
  
  #page > header {
    grid-area: head;
    font-size: 50px;
    padding: 8px;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    border-style: solid;
    border-top: white 2px solid;
    border-left: white 2px solid;
    border-right: white 2px solid
  }
  #page > sidebar {
    grid-area: sidebar;
    font-family: 'Indie Flower', cursive;
    color: whitesmoke;
    border-style: solid;
  }
  
  #page > main {
    grid-area: main;
    font-family: 'Indie Flower', cursive;
    color: whitesmoke;
    border-style: solid;
  }
/* IPAD PRO */
  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #page{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "head head"
                         "sidebar main";
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 6fr;
    background-size: cover;

    }
    #map{
      width: 45%;
    }
    #soil{
      width: 45%;
    }
    #plant-pic{
      width: 45%;
    }
    #plant-info{
      width: 45%;
    }
}
/* IPHONE X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #page{
      overflow: scroll;
      display: grid;
      width: 100%;
      height: 100vh;
      grid-template-areas: "head head"
                           "head head"
                           "main main";                           
      grid-template-rows: 1fr 1fr 6fr;
      grid-template-columns: 1fr 1fr;
  
      }
      #map{
        width: 300px;
      }
      #soil{
        width: 300px;
      }
      #plant-pic{
        width: 300px;
      }
      #plant-info{
        width: 300px;
      }
}