#page {
  display: grid;
  width: 100%;
  height: 785px;
  grid-template-areas: "head head"
                       "sidebar  main"
                       "sidebar  main";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 250px 1fr;
  background-image: url("./videoblocks-close-up-of-young-plant-growing-from-soil-background-low-angle-view_hje3yc6dkg_thumbnail-full01.png");
}

#page > header {
  grid-area: head;
  font-size: 50px;
  padding: 8px;
  color: whitesmoke;
  font-family: 'Indie Flower', cursive;
  border-style: solid;
}
#logo{
  float: left;
}

#page > sidebar {
  grid-area: sidebar;
  font-family: 'Indie Flower', cursive;
  color: whitesmoke;
  border-style: solid;
}

#page > main {
  grid-area: main;
  font-family: 'Indie Flower', cursive;
  color: whitesmoke;
  border-style: solid;
}

#submit{
  float: right;
  background-color: white;
  border: 2px solid green;
  padding: 9px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: #b6d7a8;
}
#submit:hover{
  background-color: green;
  color: white;
}

#city-search{
  float: right;
  margin-right: 25px;
  margin-top: 10px;
}
#city-search[type=text] {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 14px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#city-search[type=text]:focus {
  width: 50%;
  background-color: rgb(85, 177, 85);
  border: 2px solid black;
}

::-webkit-input-placeholder {
  font-family: 'Indie Flower', cursive;
  color: black;
}

.vine {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 7s linear alternate forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#vines-and-flower{
  margin-left: -170px;
  margin-top: -22px;
}

.hidden-svg{
  display:none;
}
.flower {
  
  animation: grow 5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  transform-origin: 270px 40px;
  opacity: 0;
}
.leaf1{
  animation: grow 5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  transform-origin: 60px 80px;
  opacity: 0;
}
.leaf2{
  animation: grow 5s;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  transform-origin: 140px 80px;
  opacity: 0;
}
.leaf3{
  animation: grow 5s;
  animation-delay: 3.25s;
  animation-fill-mode: forwards;
  transform-origin: 290px 80px;
  opacity: 0;
}
.leaf4{
  animation: grow 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transform-origin: 250px 80px;
  opacity: 0;
}

@keyframes grow {
  100% {opacity: 1}
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #b6d7a8;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: 30px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#map {
  height: 300px;
  width: 300px;
  float: left;
  margin: 20px 0px 0px 20px;
}

#soil{
  height: 300px;
  width: 730px;
  background-color: #b6d7a8;
  color: black;
  visibility: hidden;
  float: right;
  margin: 20px 20px 0px 0px;
  font-size: 20px;
  transition: background-color 1s;
  box-sizing: border-box; 
  transition: border 1s;
  opacity: 0.75;
}
#plant-pic {
  height: 300px;
  width: 300px;
  background-color: #b6d7a8;
  color: black;
  float: left;
  visibility: hidden;
  margin: 20px 0px 0px 20px;
  font-size: 20px;
  transition: background-color 1s;
  box-sizing: border-box; 
  transition: border 1s;
  opacity: 0.75;
}
#plant-info{
  height: 300px;
  width: 730px;
  background-color: #b6d7a8;
  color: black;
  visibility: hidden;
  float: right;
  margin: 20px 20px 0px 0px;
  font-size: 20px;
  transition: background-color 1s;
  box-sizing: border-box; 
  transition: border 1s;
  opacity: 0.75;
}

#soil:hover, #plant-pic:hover, #plant-info:hover{
opacity: 1;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #6aa84f;
  color: white;
  transform: rotateY(180deg);
  font-size: 50px;
}

.submit_side{
  width: 100%;
  height: 30px;
  background-color: #6aa84f;
  color: #f1f1f1;
}